  <div class="container1">
    <form class="cont" action="#/coins">
        <div>
            <h1>Login</h1>
            </div>
            
        <div class="form-group text-light">
          <label for="Email1">Email address</label>
          <input type="email" value="name@email.com" class="form-control" id="Email1" aria-describedby="emailHelp" placeholder="Enter email" required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group text-light">
          <label for="Password1">Password</label>
          <input type="password" value="word" class="form-control" id="Password1" placeholder="Password" required>
        </div>
        <!-- <div class="form-group form-check"> -->
          <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1"> -->
          <!-- <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
        <!-- </div> -->
        <div>
          <a href="/register">Register</a>
          <center>
            <button type="submit" id="login" class="btn btn-primary">&nbsp;&nbsp;Login&nbsp;&nbsp;</button>
            </center>
            </div>
      </form>
      </div>
      <script type="text/javascript" src="/js/users.js" ></script>

