body {
  background-color: black
}

h1{
  color: white;
  margin: 40px 40px 40px 330px;
}


.cobinhood img{
  float:left;
  opacity:.7;
  height: 350px;
  width: 550px;
  border-style: solid;
  border-width: 3px;
  border-color: green;
  
}

.binance img{
  float:right;
  opacity:.7;
  height: 350px;
  width: 550px;
  border-style: solid;
  border-width: 3px;
  border-color: yellow;
}

.assets_cobinhood {
  position: relative;
  top: 50px;
  left: 20px;
}

.assets_binance {
position: relative;
left: 600px;
top: -230px;

}
.assets_cobinhood img{
  width: 30px;
  height: 35px;
  margin: 6px;
}

.assets_binance img{
  width: 30px;
  height: 35px;
  margin: 6px;
}

.list-group-item {
  line-height: 2.5;
}

.assets_binance {
  color: yellow;
  size: 28px;
}

.assets_cobinhood {
  color: green;
  size: 28px;
}

.lambo_1 img {
  position: relative;
  top: -980px;
  left: 750px;
  width: 400px;
  height: 150px;
}

.lambo_2 img {
  position: relative;
  top: -1150px;
  left: -100px;
  width: 400px;
  height: 150px;
}